[Unit]
Description=jukebox
After = graphical.target


[Service]
Type = simple
ExecStart=/usr/bin/python3 /opt/jukebox -c /opt/jukebox/jukebox.ini --log /shared/log.txt
#ExecStart=/usr/bin/python3 /opt/jukebox/toy.py
WorkingDirectory=/opt/jukebox
User=root
# Restart=always
# RestartSec = 5
# KillMode = process
# SendSIGHUP = no

[Install]
# WantedBy=multi-user.target
WantedBy = graphical.target